@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Faction" class="registerdropdown" required>
                    <option value="">Select a faction</option>
                    <option value="Alliance">Alliance</option>
                    <option value="Horde">Horde</option>
                </select>
                <span asp-validation-for="Input.Faction" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Class" class="registerdropdown" required>
                    <option value="">Select a class</option>
                    <option value="Priest">Priest</option>
                    <option value="Warlock">Warlock</option>
                    <option value="Mage">Mage</option>
                    <option value="Druid">Druid</option>
                    <option value="Rogue">Rogue</option>
                    <option value="Shaman">Shaman</option>
                    <option value="Hunter">Hunter</option>
                    <option value="Warrior">Warrior</option>
                    <option value="Paladin">Paladin</option>
                    <option value="Death Knight">Death Knight</option>
                </select>
                <span asp-validation-for="Input.Class" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.CharacterName" class="form-control" autocomplete="charactername" aria-required="true" placeholder="MyName" />
                <label asp-for="Input.CharacterName">Your Display Name</label>
                <span asp-validation-for="Input.CharacterName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Hello World this is not a test</h3>
            <hr />
           @* @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }*@
            @if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        Use this page to register your account.
                    </p>
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
