@page
@model PrivacyModel
@{
    ViewData["Title"] = "Admin Page";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">


    <form method="post">
        
        @if (Model.NewMount != null && Model.NewMount.Id != 0)
        {
            <input asp-for="NewMount.Id" type="hidden" />
        }
        

        <label asp-for="NewMount.Name" class="m-2"></label>
        <input asp-for="NewMount.Name" class="menufordropdown" required />
        <br />
        <label asp-for="NewMount.Expansion" class="m-2"></label>
        <select asp-for="NewMount.Expansion" class="menufordropdown m-2" required>
            <option value="">Select an expansion</option>
            <option value="Vanilla">Vanilla</option>
            <option value="Burning Crusade">Burning Crusade</option>
            <option value="Wrath of the Lich King">Wrath of the Lich King</option>
        </select>
        <br />
        <label asp-for="NewMount.Faction" class="m-2"></label>
        <select asp-for="NewMount.Faction" class="menufordropdown" required>
            <option value="">Select a faction</option>
            <option value="Neutral">Neutral</option>
            <option value="Alliance">Alliance</option>
            <option value="Horde">Horde</option>
        </select>
        <br />
        <label asp-for="NewMount.PlayerClass"class="m-2"></label>
        <select asp-for="NewMount.PlayerClass" class="menufordropdown" required>
            <option value="">Select a class</option>
            <option value="Neutral">Neutral</option>
            <option value="Priest">Priest</option>
            <option value="Warlock">Warlock</option>
            <option value="Mage">Mage</option>
            <option value="Druid">Druid</option>
            <option value="Rogue">Rogue</option>
            <option value="Shaman">Shaman</option>
            <option value="Hunter">Hunter</option>
            <option value="Warrior">Warrior</option>
            <option value="Paladin">Paladin</option>
            <option value="Death Knight">Death Knight</option>
        </select>
        <br />
        <label asp-for="NewMount.WebLink" class="m-2"></label>
        <input asp-for="NewMount.WebLink" class="menufordropdown" required />
        <br />
        <label asp-for="NewMount.ImgLink" class="m-2"></label>
        <input asp-for="NewMount.ImgLink" class="menufordropdown" required />
        <br />
        <input type="submit" class="btn-primary m-2"  value="Add new mount/Save changes" />





    </form>

    <table class="table">
        @for (int i = 1; i <= Model.Mounts.Count; i++)
        {
            <tr>
                <td><a asp-route-editid="@Model.Mounts[i-1].Id">Edit</a></td>
                <td><a asp-route-deleteindex="@Model.Mounts[i-1].Id">Remove</a></td>
                <td>@Model.Mounts[i - 1].Id</td>
                <td>@Model.Mounts[i - 1].Name</td>
                <td>@Model.Mounts[i - 1].WebLink</td>
                <td>@Model.Mounts[i - 1].Faction</td>
                <td>@Model.Mounts[i - 1].Expansion</td>
                <td>@Model.Mounts[i - 1].PlayerClass</td>
                <td>@Model.Mounts[i - 1].ImgLink</td>
            </tr>
        }
    </table>
    
</div>
